<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title th:replace="${title}">后台首页</title>
    <!--引入链接cdn-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
</head>
<body>

<nav th:fragment="menu(n)" class="ui teal inverted attached basic segment m-padded-tb-mini m-opacity-9">
    <div class="ui container">
        <div class="ui  stackable inverted secondary  menu">
            <h2 class="ui violet header item">Blog管理</h2>
            <a class="m-item item m-mobile-hide" href="blogs.html" th:href="@{/admin/blogs}" th:classappend="${n==1}?'active'"><i class="home icon"></i>博客管理</a>
            <a class="m-item item m-mobile-hide" href="types.html" th:href="@{/admin/types}" th:classappend="${n==2}?'active'"><i class="idea icon"></i>分类管理</a>
            <a class="m-item item m-mobile-hide" href="tags.html" th:href="@{/admin/tags}" th:classappend="${n==3}?'active'"><i class="tags icon"></i>标签管理</a>
            <div class="right menu" >
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/a1.png" th:src="@{/images/a1.png}" >
                        <span th:text="${session.userz.nickname}" th:unless="${session==null}">test</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" th:href="@{/admin/logout}">
                            <span>注销</span>
                        </a>
                        <a class="item">
                            <span>修改密码</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <a class="ui m-menu toggle icon button m-top-right m-mobile-show">
        <i class="bookmark icon" id="sidebarIcon"></i>
    </a>
</nav>

<footer th:fragment="footer" class="ui teal inverted vertical center aligned segment m-opacity-9 m-margin-top">
    <div class="ui container">
        <div class="ui divided stackable grid  m-padded-tb-massive">
            <!--联系我-->
            <div class="four wide column">
                <h3 class="ui inverted header">联系我</h3>
                <div class="ui list">
                    <div class="item">
                        <div class="content"><i class="user icon"></i>流水无情</div>
                    </div>
                    <div class="item">
                        <div class="content"><i class="marker icon"></i>四川-绵阳</div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <i class="mail icon"></i>
                            <a href="#" class="m-contact-way">369458281@qq.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--微信公众号-->
            <div class="four wide column">
                <h3 class="ui inverted header">微信公众号</h3>
                <img src="../static/images/avtor.jpg" th:src="@{/images/avtor.jpg}" class="ui centered medium rounded image" style="width: 150px">
            </div>
            <!--qq群号-->
            <div class="four wide column">
                <h3 class="ui inverted header">QQ群号</h3>
                <img src="../static/images/avtor.jpg" th:src="@{/images/avtor.jpg}"  class="ui centered medium rounded image" style="width: 150px">
            </div>
            <!--名言-->
            <div class="four wide column">
                <h3>Blog</h3>
                <p>这是我的个人博客、记录学习进度和关于编程、写作、思考相关的任何内容...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div>
            <p class="m-text-thin m-text-spaced">
                Copyright © 2019 - 2020  XSH   Designed by Xiong_sh
                <br>
                赣ICP备20000310号
                <br>
                赣公网安备 36098102000147号
                <br>
                本站已安全运行 343 天 01 小时 55 分 51 秒
            </p>

        </div>
    </div>

</footer>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
    <script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
    <script src="../static/lib/scrollTo/jquery.scrollTo.min.js" th:src="@{/lib/scrollTo/jquery.scrollTo.min.js}"></script>
    <script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
    <script src="../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
</th:block>
</body>
</html>